.newgrp-btn {
  background-color: rgb(113, 184, 207);
}



.badge-names{
  display: flex;
  margin: 0 10px;
  color:white;
}


form label{
  padding: 10px 0;
  color: white;

}

.heading{
  color: white;
}