.searchbox {
  background-color: #111b21;
  padding: 15px;
  border-bottom: 1px solid #202c33;
}

.searchbox-input {
  margin: 20px;
}

.inputField {
  background-color: #202c33;
}

.search-list{
  position: absolute;
  z-index: 9;
}